*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 42.3%;
    border: 5px solid black;
    display: flex;
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
}
.box{
    width: 80px;
    height: 80px;
    background-color: rgb(192,190,170);
    padding: 8px 0px;
}
.box-1{
    width: 80px;
    height: 80px;
    background-color: rgb(95,119,70);
    color: white;
    padding: 8px 0px;
}