*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 42.3%;
    border: 5px solid black;
    margin: 30px auto;
    display: flex;
    font-size: 60px;
    text-align: center;
}
.box{
    width: 80px;
    height: 80px;
    background-color: rgb(191,175,147);
}
.box-1{
    width: 80px;
    height: 80px;
    background-color: rgb(146,109,80);
}